@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}
:root {
  --primary: #1a202c;
  --secondary: #2d3748;
  --accent: #4fd1c5;
  --font-base: "Inter", sans-serif;
  --muted: #ffffff;
  --muted-foreground: #2d3748;
}
.dark {
  --primary: black;
  --secondary: white;
  --muted: #94a3b8;
  --muted-foreground: #ffffff;
}
@theme {
  --animate-opacity-fade-out: opacity-fade-out 1s ease-in-out;

  @keyframes opacity-fade-out {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
  transform-origin: center center;
  transition: width 200ms;
}

.circle-hidden {
  display: none;
}

.circle-thin {
  height: 20px;
  width: 2px;
}

@media screen and (max-width: 750px) {
  .circle {
    display: none;
  }
}
